#footer .copyright li {
    border-left: solid 1px rgba(212, 212, 255, 0.3);
    color: rgba(240, 240, 255, 0.8);
    display: inline-block;
    line-height: 1;
    margin-left: 1em;
    padding-left: 1em;
}

.image.main {
    display: block;
    margin: 2.5em 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image.small {
    display: block;
    margin: 2.5em 0;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.image.article {
    display: inline-block;
    clear: right;
    width: 60%;
    float: right;
    margin-left: 1em;
    margin-top: .5em;
}

.abstract {
    display: inline;
    margin-left: 1em;
    font-weight: demibold;
    font-size: 1.2em;
}

p {
    margin: 0 0 .5em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.5em 0;
}

#banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background-image: url("../img/banner.webp");
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 6em 0 2em 0 ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    margin-bottom: -3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: -3.25em;
}

#banner:after {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
